# Data structures
## Lists
- is mutable (add,remove,edit)
- ordered  (use index to access them)
- have different data types
- not unique

In [4]:
llist=[121,"121","looov",10.5,121] #different data types
print(type(llist))
print(llist[3]) #ordered
llist[0]=2102 #changed
print(llist)
print(llist.pop()) #remove
print(llist)
print(llist.append("232")) #add elements
print(llist)

<class 'list'>
10.5
[2102, '121', 'looov', 10.5, 121]
121
[2102, '121', 'looov', 10.5]
None
[2102, '121', 'looov', 10.5, '232']

## Methods on lists

In [10]:
#append()
list1= ["ere","rerm","rere"]
list2= ["ere","rerm","rere"]
list1.append("ereer1")
list1.append("ereer2")
list1.append("ereer3")
print(list1)
list1.append(list2) #add them as one element
print(list1)
print(list1[-1][2])
list1.pop()
list1.extend(list2) #add them as seperate elements
print(list1)

['ere', 'rerm', 'rere', 'ereer1', 'ereer2', 'ereer3']
['ere', 'rerm', 'rere', 'ereer1', 'ereer2', 'ereer3', ['ere', 'rerm', 'rere']]
rere
['ere', 'rerm', 'rere', 'ereer1', 'ereer2', 'ereer3', 'ere', 'rerm', 'rere']

In [12]:
#remove
list1.remove("rere") #remove first occurances of the element
print(list1)

['ere', 'rerm', 'ereer1', 'ereer2', 'ereer3', 'ere', 'rerm']

In [14]:
#sort
#we cannot sort different data types together
list1.sort()
print(list1)

#to reverse the sorting
list1.sort(reverse=True)
print(list1)

['ere', 'ere', 'ereer1', 'ereer2', 'ereer3', 'rerm', 'rerm']
['rerm', 'rerm', 'ereer3', 'ereer2', 'ereer1', 'ere', 'ere']

In [21]:
#reverse() 
#we can reverse different data types 

llist=[1,2,23,"erre",23,23,121,0]
# help(llist.reverse)
# help(sorted)
# help(llist.sort)   
llist.reverse()
print(llist)

[0, 121, 23, 23, 'erre', 23, 2, 1]

In [22]:
#clear ---> empty the list
listt=[1,2,3,4]
llist.clear()
print(llist)

[]

In [29]:
#copy ----> return new copy
llist1=[1,2,2,"wew",22221]
x=llist1.copy()
print(x)
llist1.append(21) #shallow copy
print(llist1)
print(x)
x.append("shallow")
x[0]="shallo"
print(llist1)

[1, 2, 2, 'wew', 22221]
[1, 2, 2, 'wew', 22221, 21]
[1, 2, 2, 'wew', 22221]
[1, 2, 2, 'wew', 22221, 21]

In [30]:
#shallow copy on one dimensional 

original = [1, 2, 3, 4, 5, 6]
shallow_copy = original.copy()  # or original[:]

# Modify the inner list in the shallow copy
shallow_copy[0] = 'X'

print(original)    # Output: [['X', 2, 3], [4, 5, 6]]
print(shallow_copy)  # Output: [['X', 2, 3], [4, 5, 6]]

[1, 2, 3, 4, 5, 6]
['X', 2, 3, 4, 5, 6]

- Shallow copy shares inner mutable objects (like lists, dictionaries).

- Changes to inner objects affect both the original and the copy.

- Changes to the outer object (e.g., adding/removing elements) only affect the copy.

In [32]:
#shallow copy in more than one dimension
#if inner objects are mutable then it's shared 

original = [[1, 2, 3], [4, 5, 6]]
copy = original.copy()  # New outer list, but inner lists are shared
copy[0][0] = 'X'  # Change the first element of the first inner list
copy.append("Rer")
print(original)  # Output: [['X', 2, 3], [4, 5, 6]] (original is affected)
print(copy)      # Output: [['X', 2, 3], [4, 5, 6]]

[['X', 2, 3], [4, 5, 6]]
[['X', 2, 3], [4, 5, 6], 'Rer']

In [34]:
#count()
llist=[1,2,3,4,5,1,1,2,2,32,1]
print(llist.count(1))

4

In [35]:
#index()
llist=[2,3,3,5,2,4]
print(llist.index(3))

1

In [36]:
#insert ---> add elements before the index
llist=[1,2,3,4,5,6]
llist.insert(0,0)
print(llist)
llist.insert(-1,33)
print(llist)

[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 33, 6]

In [38]:
#pop ---> removes element and by default the last element
llist.pop()
print(llist) 
llist.pop(-1)
print(llist)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]

# Tuples ()
- they are items put inside parenthesis ()
- ordered (use index to access items)
- immutable
- can have different types
- non unique

In [41]:
#tuple one item
tub=("reem") # this will just be a string
tub1="reem"
tub2=("reem",)
tub3="reem",

print(type(tub))
print(type(tub1))
print(type(tub2))
print(type(tub3))

<class 'str'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [44]:
#tuple concatention
ttu=(1,2,3,4)
ttu1=(5,6,7,8)

print(ttu + ttu1)

x=ttu + ttu1 + (212,323,434)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 212, 323, 434)

In [46]:
#string, list, tuple repeat
sttr="Reem"
tupp=("Reem","24")
llist=["rer",24]

print(sttr * 4)
print(tupp * 4)
print(llist * 4)

ReemReemReemReem
('Reem', '24', 'Reem', '24', 'Reem', '24', 'Reem', '24')
['rer', 24, 'rer', 24, 'rer', 24, 'rer', 24]

# Python methods

In [47]:
#count()
ttt=(1,2,34,23,1,22,11,1,212,323,1,"rer")
print(ttt.count(1))

4

In [48]:
# index()
print(ttt.index(2))

1

In [50]:
#tuple unpacking
a=(1,2,"433")
x,y,z=a
print(x)
print(y)
print(z)

#more values than variables 
a=(1,2,"433",4)
x,y,_,z=a #underscore ignore the item that has no varible 
print(x)
print(y)
print(z)

1
2
433
1
2
4

# Set
- not ordered
- with curly braces
- should only have immutable types 
- for example: tuble,string,number but not list
- set is unique #if we duplicated item it will be appear

In [52]:
sset={1,2,3,1} #1 wil only appear once
print(sset)

{1, 2, 3}

In [53]:
sset[0]

TypeError: 'set' object is not subscriptable

In [54]:
sset1={1,2,4,[1,21]}

TypeError: unhashable type: 'list'

In [55]:
#clear()
sset.clear()
print(sset)

set()

In [59]:
#union #adding two sets together
s1={1,23,4,2}
s2={4,5,6}
s3={7,8,9}
print(s1 | s2)
# print(s1 + s2)
print(s1.union(s2))
print(s1.union(s2,s3))

{1, 2, 4, 5, 6, 23}
{1, 2, 4, 5, 6, 23}
{1, 2, 4, 5, 6, 7, 8, 9, 23}

In [61]:
#add
ss={1,2,3}
ss.add(4)
ss.add(5)
ss.add(6)
print(ss)

{1, 2, 3, 4, 5, 6}

In [ ]:
#copy
#remove
#discard ; doesn't issue an error if the value doesn't exist
#pop

In [66]:
#update is the same as union
s1={1,23,4,2}
s2={4,5,6}
s3={7,8,9}
# print(s1 + s2)
s1.update(s2)
print(s1)
s1.update(s2,s3)
print(s1)
s1.update([11,22,33])
print(s1)

{1, 2, 4, 5, 6, 23}
{1, 2, 4, 5, 6, 7, 8, 9, 23}
{1, 2, 33, 4, 5, 6, 7, 8, 9, 11, 22, 23}

In [69]:
#difference
a={1,2,3,4}
b={12,3,2,21,1}

print(a)
print(a.difference(b)) #4
print(b.difference(a)) #12,21
print(a)

{1, 2, 3, 4}
{4}
{12, 21}
{1, 2, 3, 4}

In [71]:
#difference update
a={1,2,3,4}
b={12,3,2,21,1}

print(a)
print(a.difference_update(b)) #4
print(a)

{1, 2, 3, 4}
None
{4}

In [72]:
# intersection()
c={1,2,3,4,"X"}
d={"5",2,"x"}

print(c)
print(c.intersection(d)) #x&y
print(c)

{1, 2, 3, 4, 'X'}
{2}
{1, 2, 3, 4, 'X'}

In [73]:
# intersection_update()
c={1,2,3,4,"X"}
d={"5",2,"x"}

print(c)
print(c.intersection_update(d))
print(c)

{1, 2, 3, 4, 'X'}
None
{2}

In [74]:
#Symmetric_difference
c={1,2,3,4,"X"}
d={"5",2,"x"}

print(c)
print(c.symmetric_difference(d)) #x ^ y
print(c)

{1, 2, 3, 4, 'X'}
{1, 3, 4, 'X', '5', 'x'}
{1, 2, 3, 4, 'X'}

In [76]:
#symmetric_difference_update
c={1,2,3,4,"X"}
d={"5",2,"x"}

print(c)
print(c.symmetric_difference_update(d)) #x ^ y
print(c)

{1, 2, 3, 4, 'X'}
None
{1, 3, 4, 'X', '5', 'x'}

In [77]:
#methods that returns boolean
a={1,2,3,4}
b={3,4}
print(a.issuperset(b))

True

In [79]:
#issubset
a={1,2,3,4}
b={3,4}
print(b.issubset(a))

True

In [83]:
#isdisjoint not part of it/have same items
a={1,2,3,4}
b={3,4}
c={212,12}
print(a.isdisjoint(b))
print(c.isdisjoint(a))

False
True

# Dictionary
-{key:value}
- dictionary key is immutable
- can have different data types
- dictionary key must be unique
- not ordered (access by key)

In [90]:
#dictionary
dic = {"name":"osama", "age":24, "country":"Egypt", "skills":["html","c++","python"]}
print(dic)
print(dic["age"])
print(dic.get("age"))

print(dic.keys())
print(dic.values())

print(dic.items())

{'name': 'osama', 'age': 24, 'country': 'Egypt', 'skills': ['html', 'c++', 'python']}
24
24
dict_keys(['name', 'age', 'country', 'skills'])
dict_values(['osama', 24, 'Egypt', ['html', 'c++', 'python']])
dict_items([('name', 'osama'), ('age', 24), ('country', 'Egypt'), ('skills', ['html', 'c++', 'python'])])

# Two dimentional dictionary

In [91]:
dic= {
    "dic1" : {"one":1,"two":2,"three":3},
    "dic2" : {"a":"Alpa","b":"beta","s":"sigma"},
    "dic3" : {"#":"hash","=":"equal"}
}

print(dic)
print(dic["dic1"])
print(dic["dic1"]["one"])

{'dic1': {'one': 1, 'two': 2, 'three': 3}, 'dic2': {'a': 'Alpa', 'b': 'beta', 's': 'sigma'}, 'dic3': {'#': 'hash', '=': 'equal'}}
{'one': 1, 'two': 2, 'three': 3}
1

In [92]:
#another way
dic1 = {"one":1,"two":2,"three":3}
dic2 = {"a":"Alpa","b":"beta","s":"sigma"}
dic3 = {"#":"hash","=":"equal"}

dic ={
    "one":dic1,
    "two":dic2,
    "three":dic3
}

print(dic)

{'one': {'one': 1, 'two': 2, 'three': 3}, 'two': {'a': 'Alpa', 'b': 'beta', 's': 'sigma'}, 'three': {'#': 'hash', '=': 'equal'}}

In [93]:
#Dictionary methods
#clear()
dic21={1:"!21",2:"!21",3:"212"}
dic21.clear()
print(dic21)

{}

In [94]:
#update
print(dic21)
dic21.update({3:"332",4:"3234",5:"2332"})
print(dic21)

#or
dic21[6]="221"
print(dic21)

{}
{3: '332', 4: '3234', 5: '2332'}
{3: '332', 4: '3234', 5: '2332', 6: '221'}

In [ ]:
#copy()
#.keys(),.values()

In [98]:
#setdefault ---> if it doesn't exist it adds it
ddic={1:"one",2:"two",3:"three"}
print(ddic)
ddic.setdefault(4)
print(ddic)
ddic[4]="four"
print(ddic)

ddic.setdefault(5,"five")
print(ddic)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three', 4: None}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [100]:
#popitem return last member added
print(ddic.popitem())

ddic.update({6:"six"})
print(ddic.popitem())

(4, 'four')
(6, 'six')

In [101]:
#fromkeys -->creats a new dic with keys you give
a=(1,2,3)
b="reem"

dict.fromkeys(a,b)

{1: 'reem', 2: 'reem', 3: 'reem'}